<main class="auth-main">
  <div class="auth-block">
    <div style="text-align: center; margin-bottom: 10px;">
      <img style="width: 80px;" ng-src="{{::( 'logo' | profilePicture )}}">
    </div>
    <h1 ng-click="showHost = true" style="margin-bottom: 15px;">SCHOOL LINK</h1>
    <!-- <a ng-click="gotoRegister()" class="auth-link">New to Medic Man? Sign up!</a> -->

    <form class="form-horizontal">
      <!-- <div class="form-group" ng-show="showHost">
        <label for="inputEmail3" class="col-sm-2 control-label">Host</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="host" placeholder="Host">
        </div>
      </div> -->
      <div class="form-group">
        <label for="inputEmail3" style="margin: 0px;">{{'login.user' | translate}}:</label>
        <input type="text" class="form-control" ng-model="user.email" placeholder="Tên đăng nhập">
      </div>
      <div class="form-group">
        <label for="inputPassword3" style=" margin: 0px;">Password:</label>
        <input type="password" class="form-control" ng-model="user.password" placeholder="Mật khẩu">
      </div>
      <div class="form-group">
        <div class="w25 fl">&nbsp;</div>
        <div class="w75 fl">
          <button ng-click="login()" class="btn btn-auth" style="background: #1BAFF0">Đăng nhập</button>
          <a href class="forgot-pass" style="color: #1BAFF0">Quên mật khẩu?</a>
        </div>
      </div>
    </form>
  </div>
</main>