<div class="modal-content" style="margin-top: 10%;">
  <div class="modal-header bg-info">
    <span ng-show="!group.id">{{'more' | translate}} </span><span ng-show="group.id">{{'edit' | translate}} </span><span>{{'menu.setting.group' | translate}}</span>
  </div>
  <div class="modal-body text-center">
  	<div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="inputFirstName">{{'name_group' | translate}}:</label>
          <input ng-model="group.name" type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"button.cancel" | translate}}</button>
    <button style="float:left; margin-left: 10px;" type="button" class="btn btn-danger" ng-show="group.id" ng-click="removeRecords()">Xóa</button>
    <button type="button" class="btn btn-primary" ng-click="acceptGroup()">{{"button.accept" | translate}}</button>
  </div>
</div>
