<div class="modal-content" style="margin-top: 10%;">
  <div class="modal-header bg-info">
    <span>{{'list_student' | translate}}</span>
  </div>
  <div class="modal-body text-center">
    <div class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="text-align: left">{{'last_name' | translate}}</th>
          <th>Mobile</th>
          <th>{{'relationship' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="addParent(parent)" ng-repeat="parent in listParentSearch">
          <td style="text-align: left">{{parent.name}}</td>
          <td>{{parent.mobile}}</td>
          <td>{{parent.title[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"button.cancel" | translate}}</button>
   <!--  <button type="button" class="btn btn-primary" ng-click="changePassword()">{{"button.accept" | translate}}</button> -->
  </div>
</div>
