<div
  ba-panel
  ba-panel-class="horizontal-tabs tabs-panel tab-purchase">
  <uib-tabset active="$tabSetStatus.activeTab" class="tac">
    <label style="color: #fff;margin-top: 10px;">Khối học</label>
    <div class="panel-heading" ng-click="openPopupGroup()" style="float: right; height: 40px; box-shadow: none; border-bottom: none; border-left: 1px solid #fffffff;"><i style="font-size: 20px; color: #ffffff; margin-top: -2px; float: left" class="ion-ios-plus-outline"></i></div>
  </uib-tabset>
  <div">
    <div style=" float: left; width: 100%;" class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="font-weight: 600">{{'name' | translate}}</th>
          <th style="font-weight: 600"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in listGroup" class="no-top-border">
          <td>{{group.name}}</td>
          <td style="cursor: pointer;  text-align: right;" ng-click="editGroup(group)"><i class="ion-edit"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>