<ion-view view-title="">
    <div class="tabs-striped tabs-top tabs-background-positive">
      <div class="tabs" style="top: 0px;background: #387ef5;">
          <i ui-sref="app.message" class="ion-ios-arrow-back" style="position: absolute; left: 0px; font-size: 24px; color: #fff; padding: 0px 15px;"></i>
         <label style="color: #fff; line-height: 45px; font-size: 16px;" ng-show="listChatName[userChat.id]">{{listChatName[userChat.id]}}</label>
         <label style="color: #fff; line-height: 45px; font-size: 16px;" ng-show="!listChatName[userChat.id]">{{userChat.name}}</label>
         <i on-tap="showActionsheet()" class="ion-android-more-vertical" style="position: absolute; right: 0px; font-size: 24px; color: #fff; padding: 0px 15px;"></i>
        </div>
      </div>
    <ion-content id="idContent" style="margin-top: 10px; margin-bottom: 60px;">
        <div style="padding: 10px 8px;" scroll-glue>
          <div style="overflow:hidden;" ng-repeat="message in listMessage">
            <div style="text-align: center; color: gray; font-style: italic; margin: 5px; font-size:12px;">{{message.showDate}}</div>
            <div ng-if="message.from_id[0] !== user.uid">
              <label style="float: left; margin-top: 15px;">{{listChatName[message.from_id[0]]}}</label>
              <div style="border: 1px solid gray; width: 80%; float: left; padding: 10px; margin: 5px 0px; border-radius: 25px; background: #ffffff; margin-left: 5px;"> {{message.message}}</div>
            </div>
            <div ng-if="message.from_id[0] === user.uid">
              <div style="border: 1px solid gray; width: 80%; float: right; padding: 10px; margin: 5px 0px; border-radius: 25px; background: #0fafe4; color: #ffffff; margin-right: 5px;">{{message.message}}</div>
            </div>
          </div>
        </div>
    </ion-content>
    <div>
     <textarea id="inputMessage" ng-keydown="$event.which === 13 && sendMessage()" type="text" ng-model="form.message" class="form-control" style="position: absolute; height: 60px; border-radius: 0px; border-top: 1px solid #ddd; border-left: none; border-right: none; border-bottom: none;padding: 5px 8px; bottom: 0px;"></textarea>
     <i id="idIconSend" on-tap="sendMessage()" class="fa fa-paper-plane icon-send" ng-class="{iconfocus: form.message.length > 0}"></i>
   </div>
</ion-view>
