<ion-view view-title="Login" align-title="left">
    <ion-content style="background: #fff">
        <!-- <div class="hero no-header flat" style="margin-bottom: 20px;">
            <div class="content" style="height: 85%;">
                <div>
                    <img style="width: 80%;" src="img/logo_login.png" alt="">
                </div>
                <h1>&nbsp;</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input ng-model="user.email" style="padding-right: 25px;" placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input ng-model="user.password" style="padding-right: 25px;" placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button on-tap="doLogin()" class="button button-full button-assertive ink">Login</button>
        </div>
               -->
       <div class="logo text-center">
          <img class="text-center" ng-src="img/logo_login_{{language}}.png" style="width:85%; margin-top: 10%;" />
        </div>
        <div ng-show="form.value ==='login'">
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="tel" placeholder="{{'mobile' | translate}}" ng-model="user.email">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="password" placeholder="{{'password' | translate}}" ng-model="user.password">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="button bp-button bp-button-block bp-button-blue" ng-click="doLogin()" >{{'title_login' | translate}}</button>
                </div>
            </div>
            <div class="row" style="padding-top:20px">
              <div class="col">
                  <a class="login-href" on-tap="goToRegister()">{{'new_register' | translate}}</a>
              </div>
              <div class="col text-right">
                  <a class="login-href" on-tap="goToForget()">{{'forgot_password' | translate}}</a>
              </div>
            </div>
        </div>
        <div ng-show="form.value ==='register'">
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="tel" placeholder="{{'mobile' | translate}}" ng-model="user.mobile">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="button bp-button bp-button-block bp-button-blue" ng-click="doRegister()">{{'button_register' | translate}}</button>
                </div>
            </div>
            <div class="row" style="padding-top:20px">
              <div class="col text-right">
                  <a class="login-href" on-tap="form.value ='login'">{{'button_back' | translate}}</a>
              </div>
            </div>
        </div>
        <div ng-show="form.value ==='confirm'">
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="password" placeholder="{{'password' | translate}}" ng-model="user.password_register">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="password" placeholder="{{'confirm_password' | translate}}" ng-model="user.passwordConfirm">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="text" placeholder="{{'code_confirm' | translate}}" ng-model="user.code">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="button bp-button bp-button-block bp-button-blue" ng-click="confirmCode()">{{'button_confirm' | translate}}</button>
                </div>
            </div>
            <div class="row" style="padding-top:20px">
              <div class="col text-right">
                  <a class="login-href" on-tap="form.value ='login'">{{'button_back' | translate}}</a>
              </div>
            </div>
        </div>
        <div ng-show="form.value ==='forget'">
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="tel" placeholder="{{'mobile' | translate}}" ng-model="user.mobile">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="button bp-button bp-button-block bp-button-blue" ng-click="doForget()">{{'button_confirm' | translate}}</button>
                </div>
            </div>
            <div class="row" style="padding-top:20px">
              <div class="col text-right">
                  <a class="login-href" on-tap="form.value ='login'">{{'button_back' | translate}}</a>
              </div>
            </div>
        </div>

        <div ng-show="form.value ==='confirmForget'">
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="password" placeholder="{{'password' | translate}}" ng-model="user.password_register">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="password" placeholder="{{'confirm_password' | translate}}" ng-model="user.passwordConfirm">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <input type="text" placeholder="{{'code_confirm' | translate}}" ng-model="user.code">
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="button bp-button bp-button-block bp-button-blue" ng-click="confirmForget()">{{'button_confirm' | translate}}</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
