<div class="modal">
	<header class="bar bar-header bar-positive">
	  <h1 class="title">{{'please choose contact' | translate}}</h1>
	  <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios-close-empty"></span></div>
	</header>
	<content has-header="true" padding="true">
		<div class="tabs-striped tabs-top">
		  <div class="tabs"  style="background: #f8f8f8;margin-top: 5px;">
		      <a class="tab-item" ng-class="{active: group == 'teachers'}" ng-click="changeGroup('teachers')">
		        {{'teacher' | translate}}
		      </a>
		      <a class="tab-item" ng-class="{active: group == 'parents'}" ng-click="changeGroup('parents')">
		        {{'parent' | translate}}
		      </a>
	        <a class="tab-item" ng-class="{active: group == 'supper'}" ng-click="changeGroup('supper')">
	          {{'group_parent' | translate}}
	        </a>
		    </div>
		  </div>
	  <ion-content class="bp-content-wrap" ng-show="group == 'parents'" style="margin-top: 68px">
        <div style="margin-top:30px;">
          <span ng-repeat="item in parents">
            <ion-item ng-hide="item.parent_user_id && item.parent_user_id[0] === userInfo.uid" style="padding: 0px; color: #000000;" class="item-stable item-text-wrap item-lien-he"                      
                      ng-class="{active: isGroupShown(item.id)}">
                <!-- <div class="row">
                  <div class="col col-70" on-tap="createChannel(item);">
                    <div style="margin: 10px;">{{item.name}}</div>
                  </div>
                  <div class="col col-10 ">
                    <i ng-show="item.parent_user_id"  class="icon {{item.show?'ion-arrow-up-b':'ion-arrow-down-b'}}" style="position: absolute;top: 50%; margin-top: -8px;"></i>
                    <i ng-show="!item.parent_user_id">&nbsp;</i>
                  </div>
                </div> -->
                <div class="row">
                <div class="col col-70"  on-tap="createChannel(item);">
                  <div style="margin: 10px;">{{item.name}}</div> <span class="text-con"></span>
                </div>
                <div on-tap="toggleGroup(item.id)" class="col col-10">
                  <i ng-show="item.parent_user_id"  class="icon {{item.show?'ion-arrow-up-b':'ion-arrow-down-b'}}" style="position: absolute;top: 50%; margin-top: -8px;"></i>
                </div>
              </div>

            </ion-item>
            <ion-item  style="padding: 0px; color: #000000;" class="item-text-wrap item-accordion"
                      ng-show="isGroupShown(item.id)">
                      <div class="row">
                        <div class="col col-25">
                          <p>{{'children' | translate}}:</p>
                        </div>
                        <div class="col col-50">
                          <p style="float: left;" ng-repeat="subItem in item.children">{{listChildren[subItem].name}}<span ng-hide="$last">,</span></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-25">
                          <p>{{'mobile' | translate}}:</p>
                        </div>
                        <div class="col col-50">
                          <p>{{item.mobile}}</p>
                        </div>
                      </div>
            </ion-item>
          </span>
        </div>
      </ion-content>
      <ion-content class="bp-content-wrap" ng-show="group == 'supper'" style="margin-top: 68px">
        <div style="margin-top:30px;">
          <span ng-repeat="item in suppers">
            <ion-item ng-hide="item.parent_user_id && item.parent_user_id[0] === userInfo.uid" style="padding: 0px; color: #000000;" class="item-stable item-text-wrap item-lien-he"                      
                      ng-class="{active: isGroupShown(item.id)}">
                <!-- <div class="row">
                  <div class="col col-70" on-tap="createChannel(item);">
                    <div style="margin: 10px;">{{item.name}}</div>
                  </div>
                  <div class="col col-10">
                    <i ng-show="item.parent_user_id" on-tap="toggleGroup(item.id)" class="icon ion-ios-chatbubble-outline" style="padding-right:20px; color:#387ef5;"></i>
                    <i ng-show="!item.parent_user_id">&nbsp;</i>
                  </div>
                </div> -->
                <div class="row">
                <div class="col col-70"  on-tap="createChannel(item);">
                  <div style="margin: 10px;">{{item.name}}</div> <span class="text-con"></span>
                </div>
                <div on-tap="toggleGroup(item.id)" class="col col-10">
                  <i ng-show="item.parent_user_id"  class="icon {{item.show?'ion-arrow-up-b':'ion-arrow-down-b'}}" style="position: absolute;top: 50%; margin-top: -8px;"></i>
                </div>
              </div>

            </ion-item>
            <ion-item  style="padding: 0px; color: #000000;" class="item-text-wrap item-accordion"
                      ng-show="isGroupShown(item.id)">
                      <div class="row">
                        <div class="col col-25">
                          <p>{{'children' | translate}}:</p>
                        </div>
                        <div class="col col-50">
                          <p style="float: left;" ng-repeat="subItem in item.children">{{listChildren[subItem].name}}<span ng-hide="$last">,</span></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col col-25">
                          <p>{{'mobile' | translate}}:</p>
                        </div>
                        <div class="col col-50">
                          <p>{{item.mobile}}</p>
                        </div>
                      </div>
            </ion-item>
          </span>
        </div>
      </ion-content>

      <ion-content class="bp-content-wrap" ng-show="group == 'teachers'" style="margin-top: 68px">
        <div style="margin-top:30px;">
	        <span ng-repeat="item in teachers">
		        <ion-item style="padding: 0px; color: #000000;" class="item-stable item-text-wrap item-lien-he"	                 
		                  ng-class="{active: isGroupShown(item.id)}">
	            <div class="row">
	              <div class="col col-70"  on-tap="createChannel(item);">
	                <div style="margin: 10px;">{{item.name}}</div> <span class="text-con"></span>
	              </div>
	              <div on-tap="toggleGroup(item.id)" class="col col-10">
	                <i ng-show="item.user_id"  class="icon {{item.show?'ion-arrow-up-b':'ion-arrow-down-b'}}" style="position: absolute;top: 50%; margin-top: -8px;"></i>
	              </div>
	            </div>
		        </ion-item>
		        <ion-item style="padding: 0px; color: #000000;" class="item-text-wrap item-accordion"
		                  ng-show="isGroupShown(item.id)">
              <div class="row">
                <div class="col col-25">
                  <p>{{'subject' | translate}}:</p>
                </div>
                <div class="col col-50">
                  <p style="float: left;" ng-repeat="tkb in groupTeacher[item.id]">{{tkb.subject_id[1]}} <span ng-hide="$last">,</span></p>
                </div>
              </div>
              <div class="row">
                <div class="col col-25">
                  <p>Email:</p>
                </div>
                <div class="col col-50">
                  <p>{{item.work_email}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col col-25">
                  <p>{{'mobile' | translate}}:</p>
                </div>
                <div class="col col-50">
                  <p>{{item.work_phone}}</p>
                </div>
              </div>
		        </ion-item>
	        </span>
        </div>
      </ion-content>
	</content>
</div>