<div
  ba-panel
  ba-panel-class="horizontal-tabs tabs-panel tab-purchase">
  <uib-tabset active="$tabSetStatus.activeTab">
    <div class="panel-heading" ng-click="goToCreateClass()" style="float: right; height: 40px; box-shadow: none; border-bottom: none; border-left: 1px solid #fffffff;"><i style="font-size: 20px; color: #ffffff; margin-top: -2px; float: left;" class="ion-ios-plus-outline"></i></div>
  </uib-tabset>
  <div">
    <div style=" float: left; width: 100%;" class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="font-weight: 600">{{'name' | translate}}</th>
          <th style="font-weight: 600">{{'menu.setting.group' | translate}}</th>
          <th style="font-weight: 600">{{'menu.setting.schoolarity' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="gotoDetailClass(chooseClass)" ng-repeat="chooseClass in listClass" class="no-top-border">
          <td>{{chooseClass.name}}</td>
          <td>{{chooseClass.group_id[1]}}</td>
          <td>{{chooseClass.year_id[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>