<div
  ba-panel
  ba-panel-class="horizontal-tabs tabs-panel tab-purchase">
  <uib-tabset active="$tabSetStatus.activeTab" class="tac">
    <input ng-change="searchParent()" style="width: 40%; margin-left: 3px; margin-top: 3px; float: left;font-weight: 100;" ng-model="form.search" type="text" class="form-control" placeholder="Tìm kiếm phụ huynh">
    <div class="panel-heading" ng-click="openPopupParent()" style="float: right; height: 40px; box-shadow: none; border-bottom: none; border-left: 1px solid #fffffff;"><i style="font-size: 20px; margin-top: -5px; color: #ffffff; float: left; font-size: 24px;" class="ion-ios-plus-outline"></i></div>
  </uib-tabset>
  <div">
    <div style=" float: left; width: 100%;" class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="font-weight: 600">Tên</th>
          <th style="font-weight: 600">Số điện thoại</th>
          <th style="font-weight: 600">Email</th>
          <th style="font-weight: 600">Địa chỉ</th>
          <th style="font-weight: 600">vai trò</th>
          <th style="font-weight: 600"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="parent in listParent" class="no-top-border">
          <td>{{parent.name}}</td>
          <td><span ng-show="parent.mobile">{{parent.mobile}}</span></td>
          <td><span ng-if="parent.email">{{parent.email}}</span></td>
          <td style="width: 350px;"><span ng-show="parent.street">{{parent.street}}</span></td>
          <td><span ng-repeat="cate in parent.category_id"> {{listCategoryByGroup[cate][0].complete_name}}</span></td>
           <td style="cursor: pointer; text-align: right;" ng-click="editParent(parent)"><i class="ion-edit"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/ng-template" id="tag-template">
  <div class="tag-template">
    <div class="right-panel">
      <span>{{$getDisplayText()}}</span>
      <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
  <div class="autocomplete-template">
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
      <span>({{data.rank}})</span>
      <span>{{data.confederation}}</span>
    </div>
  </div>
</script>