/* General
==================================*/
body{
    font-size: 12px;
}
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

/*p {
    color: #555;
    margin: 0 0 25px;
}*/

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo_login.png') center;
    background-size: cover;
    height: 125px;
    margin: 0 auto;
    width: 199px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
.menu_name {
  color: #333333;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2em; }
.bar.bar-positive {
    background: #387ef5 !important;
}
.tab-item.active{
   color: #1071ca !important;
   border-color: #387ef5 !important;
}
.title {
    font-size: 20px !important;
}
.textBold{
  font-weight: bold;
}
.icon-send{
    position: absolute;
    bottom: 20px;
    right: 6px;
    padding: 6px;
    background: #66bad6;
    color: #fff;
    border-radius: 50%;
}
.iconfocus{
    background: #069dd0;
}.
.select-title{
    width: 50%;
    height: 30px;
    border: none;
    background: #387ef5;
    color: white;
    font-size: 16px;
}
ion-header-bar .button-icon{
    height: 100% !important;
}
/* .action-sheet .button{
    display: block !important;
    padding: 1px !important;
    width: 100% !important;
    border-radius: 0 !important;
    border-color: #d1d3d6 !important;
    background-color: transparent !important;
    color: #007aff !important;
    font-size: 21px !important;
} */
.platform-android .action-sheet-has-icons .button{
    box-shadow: none;
    border-color: #d1d3d6;
    text-align: center;
    padding: 0px;
}
.platform-android .action-sheet-destructive {
    color: red !important;
}
.action-sheet-group .action-sheet-cancel{
    display: block !important;
}

.oe_mail_cleaned{
    display: none;
}

i.icon {

}
i.expanded {
    background-image: url('/img/collapsed.png');
}
i.collapsed {
    background-image: url('/img/expanded.png');
}
