<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <!-- <ion-nav-back-button class="no-text">
            </ion-nav-back-button> -->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
        <div class="tabs tabs-icon-top" style="padding: 5px 0px 0px 0px;">
          <a class="tab-item" on-tap="gotoMessage()" ng-class="{active: isActiveTab('app.message')}" >
            <i ng-show="numberMessage > 0" style="background: red; color: #ffffff; border-radius: 25px; padding: 2px 6px; font-size: 12px; position: absolute; right: 0px;">{{numberMessage}}</i>
            <i class="fa fa-comments fa-3x" ></i>
            <p>{{'message' | translate}}</p>
          </a>
          <a class="tab-item" ui-sref="app.contact" ng-class="{active: isActiveTab('app.contact')}">
            <i class="fa fa-phone fa-3x" ></i>
            <p>{{'contact' | translate}}</p>
          </a>
          <a class="tab-item" ui-sref="app.schedule" ng-class="{active: isActiveTab('app.schedule')}">
            <i class="fa fa-calendar fa-3x" ></i>
            <p>{{'schedule' | translate}}</p>
          </a>
          <a class="tab-item" ui-sref="app.goal" ng-class="{active: isActiveTab('app.goal')}">
            <i class="fa fa-area-chart fa-3x" ></i>
            <p>{{'goal' | translate}}</p>
          </a>
        </div>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded" on-tap="show.menu = !show.menu" style="background-image: url('img/background_menu.jpg')">
            <span class="avatar" style="background: url('img/logo.jpg'); background-size: cover;"></span>
            <h2>{{children.name}}</h2>
            <i ng-show="show.menu" class="ion-android-arrow-dropdown" style="position: absolute;bottom: 5px;right: 10px; font-size: 24px;"></i>
            <i ng-show="!show.menu" class="ion-android-arrow-dropup" style="position: absolute;bottom: 5px;right: 10px; font-size: 24px;"></i>
        </ion-header-bar>
        <ion-content class="light-bg has-expanded-header">
          <ul class="nav sidebar-nav" ng-show="show.menu">
             <li ui-sref="app.notification" menu-toggle="left" ng-class="{active: isActiveTab('app.thongbao')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle violet fa-stack-2x"></i>
                  <i class="fa fa-bell fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'notification' | translate}}</span>
              </a>
            </li>
            <li ui-sref="app.message" menu-toggle="left" ng-class="{active: isActiveTab('app.tinnhan')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle red fa-stack-2x"></i>
                  <i class="fa fa-comments fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'message' | translate}}</span>
              </a>
            </li>
            <li ui-sref="app.schedule" menu-toggle="left" ng-class="{active: isActiveTab('app.tkb')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle violet fa-stack-2x"></i>
                  <i class="fa fa-calendar fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'schedule' | translate}}</span>
              </a>
            </li>
            <li ui-sref="app.goal" menu-toggle="left" ng-class="{active: isActiveTab('app.ketquahoc')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle blue fa-stack-2x"></i>
                  <i class="fa fa-area-chart fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'goal' | translate}}</span>
              </a>
            </li>
            <li ui-sref="app.contact" menu-toggle="left" ng-class="{active: isActiveTab('app.lienhe')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle green fa-stack-2x"></i>
                  <i class="fa fa-phone fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'contact' | translate}}</span>
              </a>
            </li>
            <li ui-sref="app.setting" menu-toggle="left" ng-class="{active: isActiveTab('app.caidat')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle pink fa-stack-2x"></i>
                  <i class="fa fa-cog fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'setting' | translate}}</span>
              </a>
            </li>
            <li on-tap="logout()" menu-toggle="left" ng-class="{active: isActiveTab('app.caidat')}">
              <a>
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle violet fa-stack-2x"></i>
                  <i class="fa fa-sign-out fa-stack-1x"></i>
                </span>
                <span class="menu_name">{{'logout' | translate}}</span>
              </a>
            </li>
          </ul>
          <ul class="nav sidebar-nav" ng-show="!show.menu">
            <li ng-repeat="children in listChildren" style="overflow: hidden;" on-tap="chooseChildren(children)">
              <a menu-toggle="left" ng-class="{active: isActiveTab('app.tinnhan')}">
                <div class="fa-stack fa-2x" style="width: 20%; float: left">
                  <i class="fa fa-circle blue fa-stack-2x"></i>
                  <i class="fa fa-child fa-stack-1x"></i>
                </div>
                <div style="width: 60%; float: left; margin-top: 20px">
                  <div class="menu_name">{{children.school.name}}</div>
                  <div style="font-weight: 100;">{{children.children.name}}</div>
                </div>
              </a>
            </li>
          </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
