<div class="modal-content" style="margin-top: 10%;">
  <div class="modal-header bg-info">
    <span>{{'time_send_message' | translate}}</span>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="inputLastName" style="font-weight: bold;">{{'choose_time' | translate}}:</label>
          <p class="input-group" style="float: right;width: 75%;">
            <input type="text" class="form-control" datetime-picker="dd-MM-yyyy HH:mm" ng-model="time.delay" is-open="popup1.opened"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <!-- <p class="input-group">
              <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="ctrl.picker3.date" is-open="ctrl.picker3.open" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker3')"><i class="fa fa-calendar"></i></button>
            </span>
          </p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"button.cancel" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="setTimeDelay()">{{"button.accept" | translate}}</button>
  </div>
</div>
