<ion-view view-title="">
     <ion-nav-bar class="bar-positive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
      <!-- <ion-nav-back-button class="no-text">
      </ion-nav-back-button> -->
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
          </button>
      </ion-nav-buttons>
      <ion-nav-title>
         <select class="form-control" style="width: 50%;height: 30px;border: none;background: #387ef5;color: white;font-size: 16px;" ng-change="changeSemester()" ng-options="semester.id as semester.name for semester in listSemester" ng-model="formData.semester_id" ng-required="true"></select>
      </ion-nav-title>
    </ion-nav-bar>
    <ion-content ng-class="{expanded:isExpanded}" style="margin-top: 10px; margin-bottom: 55px;">
    	<p class="text-center instruction-text" style="margin-bottom: 15px; margin-top: 10px;">{{'schedule' | translate}}: {{scheduleSchool[0].display_name}}</p>
    	<div ng-repeat="item in tkb">
        <!-- thay class thu2 bang thu3, thu4, thu5, thu6 -->
        <ion-item class="item-stable item-tkb item-text-wrap thu2"
                  ng-click="toggleGroup(item.name)"
                  ng-class="[{active: isGroupShown(item.name)},item.name]">
          {{item.name | translate}}
          <i class="icon" style="float:right;color:#ffffff" ng-class="isGroupShown(item.name) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        </ion-item>
        <ion-item class="item-text-wrap item-accordion"
                  ng-show="isGroupShown(item.name)">
                  <div class="row">
                  <div class="col col-50">
                    <h3>Sáng</h3>
                    <p ng-repeat="tiethoc in item.tietHocSang">{{tiethoc.tenTiet | translate}}: {{tiethoc.tenMonHoc}}</p>
                  </div>
                  <div class="col col-50">
                    <h3>Chiều</h3>
                    <p ng-repeat="tiethoc in item.tietHocChieu">{{tiethoc.tenTiet |translate}}: {{tiethoc.tenMonHoc}}</p>
                  </div>
                </div>
        </ion-item>
      </div>
    </ion-content>
</ion-view>
