<div class="panel panel-primary bootstrap-panel">
  <div class="panel-heading tac" style="height: auto;">
    <a style="color: #ffffff; margin-right: 8px; float: left;" ng-click="backList()"><i style="font-size: 20px;" class="ion-ios-undo"></i></a>
      <label style="color: #fff;margin: 0px;">{{'new_notification' | translate}}</label>
    <a style="color: #ffffff; margin-right: 8px; float: right; cursor: pointer; margin-top: -5px;" ng-click="createNewNotification()"><i style="font-size: 24px;" class="ion-paper-airplane"></i></a>
  </div>
  <div class="panel-body" style="min-height: 600px;">
  	<div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="inputFirstName" style="font-weight: bold;">{{'title' | translate}}:</label>
          <input ng-model="newNotification.subject" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-12">

        <div class="form-group">
          <label for="inputLastName" style="font-weight: bold;">{{'send_to' | translate}} :</label>
  				<div class="form-group">
  					<multiple-autocomplete ng-model="newNotification.listToUser"
						     object-property="name"
						     suggestions-arr="listGroupUserParent">
						</multiple-autocomplete>
				    <!-- <select class="form-control" title="Multiple Select" multiple selectpicker
				    	            ng-model="notification.listToUser"
				    	            ng-options="item as item.title for item in listGroupUserParent">
				    </select> -->
					</div>
        </div>
      </div>
    </div>
    <div>
		  <div class="compose-container">
		    <text-angular-toolbar ta-toolbar-class="toolbarMain" name="toolbarMain" ta-toolbar="[['h1','h2','h3','bold','italics', 'underline', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']]"></text-angular-toolbar>
		    <text-angular name="htmlcontent" id="htmlcontent" ta-target-toolbars='toolbarMain,toolbarFooter' ng-model="newNotification.body"></text-angular>
		  </div>
		</div>
  </div>
</div>
