
<div class="panel panel-primary bootstrap-panel" ng-controller="ScheduleDetailCtrl">
  <div class="panel-heading tac" style="height: auto;">
    <a style="color: #ffffff; margin-right: 8px; float: left;" ng-click="backList()"><i style="font-size: 20px;" class="ion-ios-undo"></i></a>
      <label style="color: #fff;margin: 0px;">{{'schedule' | translate}}</label>
    <a style="color: #ffffff; margin-right: 8px; float: right; cursor: pointer;" ng-click="saveSchedule()"><i style="font-size: 20px;" class="ion-ios-checkmark-outline"></i></a>
  </div>
  <div class="panel-body" style="min-height: 600px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputFirstName" style="font-weight: bold;">{{'name_schedule' | translate}}</label>
          <input ng-model="schedule.name" type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputLastName" style="font-weight: bold;">{{'class' | translate}}</label>
          <select style="float: right; width: 75%" class="form-control" ng-options="class.id as class.name for class in listClass" ng-model="schedule.class_id" ng-required="true"></select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputLastName" style="font-weight: bold;">{{'semester' | translate}}</label>
          <select style="float: right; width: 75%" class="form-control" ng-required="true">
            <option ng-repeat="semester in listSemester" value="{{semester.id}}">{{semester.name | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" style="padding-right: 0px;">
      <div ng-include="'app/pages/schedule/widgets/form.line.html'"></div>
    </div>
  </div>
</div>
