<div
  ba-panel
  ba-panel-class="horizontal-tabs tabs-panel tab-purchase">
  <uib-tabset active="$tabSetStatus.activeTab">
    <div class="panel-heading" ng-click="openPopupSchoolarity()" style="float: right; height: 40px; box-shadow: none; border-bottom: none; border-left: 1px solid #fffffff;"><i style="font-size: 20px; margin-top: -2px; color: #ffffff; float: left" class="ion-ios-plus-outline"></i></div>
  </uib-tabset>
  <div">
    <div style=" float: left; width: 100%;" class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="font-weight: 600">{{'name' | translate}}</th>
          <th style="font-weight: 600">{{'date.start' | translate}}</th>
          <th style="font-weight: 600">{{'date.end' | translate}}</th>
          <th style="font-weight: 600"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="schoolarity in listSchoolarity" class="no-top-border">
          <td>{{schoolarity.name}}</td>
          <td>{{schoolarity.date_start}}</td>
          <td>{{schoolarity.date_end}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>