<div class="" style="padding-left: 5px; padding-right: 5px;" ng-show="!flagEdit">
	<div class="search" style="margin: 0px; border-radius: 4px; background: #ffffff; padding: 2px; width: 100%; border: 1px solid gray;">
	  <i style="color: #000000;" class="ion-ios-search-strong" ng-click="startSearch()"></i>
	  <input ng-model="keySearch.value" ng-keydown="$event.which === 13 && startSearch()" id="searchInput" type="text" placeholder="{{'search.student' | translate}}" style="width: 90%; color: #000000;">
	</div>
	<!-- <div class="" style="margin-left: 10px; float: left">
	    <button type="button" class="btn btn-primary btn-sm" ng-click="openPopupCreateProduct()"><i class="ion-android-add" style="font-size: 14px;"></i></button>
	</div> -->
</div>
<div style="padding-left: 5px; padding-right: 5px; margin-top: 10px; float: left; width: 100%;">
	<div class="horizontal-scroll">
	  <table class="table table-hover">
	    <thead>
	    <tr class="black-muted-bg">
	      <th style="text-align: left">{{'name' | translate}}</th>
	      <th>{{'birthday' | translate}}</th>
	      <th>Địa chỉ</th>
	      <th></th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr ng-repeat="student in listStudent">
	      <td style="text-align: left">{{student.last_name}} {{student.name}}</td>
	      <td>{{student.birthday}}</td>
	      <td>{{student.home_address}}</td>
	      <td><i ng-click="removeLine(student)" style="color: red;" class="ion-ios-trash-outline"></i></td>
	    </tr>
	    </tbody>
	  </table>
	</div>
</div>
