<div class="" style="padding-left: 5px; padding-right: 5px;" ng-show="!flagEdit">
	<div class="search" style="margin: 0px; border-radius: 4px; background: #ffffff; padding: 2px; width: 50%; border: 1px solid gray;">
	  <i style="color: #000000;" class="ion-ios-search-strong" ng-click="startSearch()"></i>
	  <input ng-model="keySearch.value" ng-keydown="$event.which === 13 && startSearch()" id="searchInput" type="text" placeholder="{{'search.student' | translate}}" style="width: 90%; color: #000000;">
	</div>
	<div>
      <ng-csv-import 
        class="import"
        content="csv.content"
        header="csv.header" 
        header-visible="csv.headerVisible" 
        separator="csv.separator"
        separator-visible="csv.separatorVisible"
        result="csv.result"
        encoding="csv.encoding"
        encoding-visible="csv.encodingVisible"
        callback="chooseFile" style="margin-left: 20px; float: left"></ng-csv-import>
    </div>
</div>
<div style="padding-left: 5px; padding-right: 5px; margin-top: 10px; float: left; width: 100%;">
	<div class="horizontal-scroll">
	  <table class="table table-hover">
	    <thead>
	    <tr class="black-muted-bg">
	      <th style="text-align: left">{{'first_last_name' | translate}}</th>
	      <th>{{'birthday' | translate}}</th>
	      <th>{{'address' | translate}}</th>
	      <th></th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr ng-repeat="student in listStudent" ng-click="openPopupStudent(student)">
	      <td style="text-align: left">{{student.display_name}}</td>
	      <td>{{student.birthdayShow}}</td>
	      <td>{{student.home_address}}</td>
	      <td><i ng-click="removeLine(student)" style="color: #7d7d7d;" class="ion-ios-trash-outline"></i></td>
	    </tr>
	    </tbody>
	  </table>
	</div>
</div>
