<div class="modal-content" style="margin-top: 10%;">
  <div class="modal-header bg-info">
    <span>{{'create_list_student' | translate}}</span>
  </div>
  <div class="modal-body text-center">
    <div class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="text-align: left">{{'first_name' | translate}}</th>
          <th>{{'last_name' | translate}}</th>
          <th>{{'born_address' | translate}}</th>
          <th>{{'live_address' | translate}}</th>
          <th>{{'birthday' | translate}}</th>
          <th>{{'parent' | translate}}</th>
          <th>{{'parent_phone' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in csv.result">
          <td style="text-align: left">{{student.last_name}}</td>
          <td style="text-align: left">{{student.name}}</td>
          <td style="text-align: left">{{student.home_town}}</td>
          <td style="text-align: left">{{student.home_address}}</td>
          <td style="text-align: left">{{student.birthday}}</td>
          <td style="text-align: left">{{student.parent_name}}</td>
          <td style="text-align: left">{{student.parent_mobile}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"button.cancel" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="createListStudent()">{{"button.accept" | translate}}</button>
  </div>
</div>
