<div class="modal-content">
  <div class="modal-header bg-danger">
    <i class="ion-flame modal-icon"></i><span>{{'button_confirm' | translate}}</span>
  </div>
  <div class="modal-body text-center">{{'confirm_remove' | translate}}!</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"button.cancel" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="removeRecords()">{{"button.accept" | translate}}</button>
  </div>
</div>
