<ion-view view-title="{{'setting' | translate}}">
    <div class="tabs-striped tabs-top">
      <div class="tabs" style="background: #f8f8f8;margin-top: 5px;">
          <a class="tab-item active" ng-class="{active: group == 'setting'}" ng-click="changeGroup('setting')">
            {{'setup' | translate}}
          </a>
          <a class="tab-item" ng-class="{active: group == 'changepassword'}" ng-click="changeGroup('changepassword')">
            {{'change_password' | translate}}
          </a>
        </div>
      </div>

      <ion-content class="bp-content-wrap" style="padding-top:50px;">
        <div ng-show="group === 'setting'">
          <ul class="list">
            <li class="item item-toggle">
               {{'vibrate' | translate}}
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="setting.isVibration" ng-change="saveUserSetting()">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               {{'vibrate' | translate}}
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="setting.isSound" ng-change="saveUserSetting()">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               {{'notification_system' | translate}}
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="setting.isNotification" ng-change="changeNotification()">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          </ul>
         
        </div>

         <div ng-show="group === 'changepassword'">
            <div class="row" style="padding-top:20px">
                  <div class="col">
                      <input type="text" placeholder="{{'notification_system' | translate}}" ng-model="user.old_passwd">
                  </div>
              </div>
              <div class="row" style="padding-top:20px">
                  <div class="col">
                      <input type="password" placeholder="{{'new_password' | translate}}" ng-model="user.new_passwd">
                  </div>
              </div>
              <div class="row" style="padding-top:20px">
                  <div class="col">
                      <input type="password" placeholder="{{'confirm_new_pass' | translate}}" ng-model="user.confirm_new_passwd">
                  </div>
              </div>
              <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="button bp-button bp-button-block bp-button-blue" ng-click="changePassword()" >{{'Xác nhận' | translate}}</button>
                </div>
              </div>
          </div>
      </ion-content>

</ion-view>
