<div
  ba-panel
  ba-panel-class="horizontal-tabs tabs-panel tab-purchase">
  <uib-tabset active="$tabSetStatus.activeTab">
    <div class="panel-heading" ng-click="gotoDetailStudent()" style="float: right; height: 40px; box-shadow: none; border-bottom: none; border-left: 1px solid #fffffff;"><i style="font-size: 20px; color: #ffffff; margin-top: -2px; float: left;" class="ion-ios-plus-outline"></i></div>
  </uib-tabset>
  <div">
    <div style=" float: left; width: 100%;" class="horizontal-scroll">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th style="font-weight: 600; text-align: left">{{'name' | translate}}</th>
          <th style="font-weight: 600">Ngày sinh</th>
          <th style="font-weight: 600">Địa chỉ</th>
          <th style="font-weight: 600">Quê quán</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="gotoDetailStudent(student)" ng-repeat="student in listStudent" class="no-top-border">
          <td style="text-align: left;">{{student.last_name}} {{student.name}}</td>
          <td><span ng-show="student.birthdayFormat">{{student.birthdayFormat}}</span></td>
          <td>{{student.home_address}}</td>
          <td>{{student.home_town}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>