<div class="modal-content">
  <div class="modal-header bg-warning">
    <i class="ion-android-warning modal-icon"></i><span>{{"change_password"|translate}}</span>
  </div>
  <div class="modal-body text-center">
  	<div class="form-group">
      <label for="inputLastName">{{"old_password"|translate}}</label>
      <input ng-model="user.old_passwd" type="password" class="form-control" id="inputLastName">
    </div>
    <div class="form-group">
      <label for="inputLastName">{{"new_password"|translate}}</label>
      <input ng-model="user.new_passwd" type="password" class="form-control" id="inputLastName">
    </div>
    <div class="form-group">
      <label for="inputLastName">{{"confirm_new_pass"|translate}}</label>
      <input ng-model="user.confirm_new_passwd" type="password" class="form-control" id="inputLastName">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{"button.cancel" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="changePassword()">{{"button.accept" | translate}}</button>
  </div>
</div>
